/* properties02.css */
#movie {
    width:408px;
    height:max-content;
    padding:45px 15px 45px 15px;
    background-color:#D3F0FF;
    border:2px solid #00AAFF;
    border-radius:30px;
}
#movie > h1 {
    margin: 0 0 20px 0;
}
#movie > h1 > a {
    font-family:'Pretendard', 'Noto serif';
    font-weight:700;
    font-size:1.875em;
    line-height:1.3;
    letter-spacing:-0.02em;
}
#movie > .contents {
    margin: 0 0 20px 0;
}
#movie > .contents > .slogan {
    font-family:'Pretendard', 'Noto serif';
    font-weight:600;
    font-size:1.063em;
    line-height:1.3;
    letter-spacing:-0.02em;
    margin: 0 0 10px 0;
}
#movie > .contents > .story_des {
    font-family:'Pretendard', 'Noto serif';
    font-weight:500;
    font-size:1.063em;
    line-height:1.3;
    letter-spacing:-0.02em;
    color:#222;
}
#movie > .poster {
    margin: 0 0 20px 0;
}
#movie > .poster > img {}
#movie > .character {}
#movie > .character > h2 {
    margin: 0 0 10px 0;
}
#movie > .character > h2 > a {
    font-family:'Pretendard', 'Noto serif';
    font-weight:600;
    font-size:1.25em;
}
#movie > .character > .thum {}
#movie > .character > .thum > .char1 {
    margin: 0 10px 0 0;
}
#movie > .character > .thum > .char2 {
    margin: 0 10px 0 0;
}
#movie > .character > .thum > .char3 {}